@font-face {
  font-family: "iconfont"; /* Project id 3589589 */
  /* Color fonts */
  src: url('@/assets/css/iconfont/APP/commonSolid/iconfont.ttf?t=1688458785937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\ebdd";
}

.icon-fangda:before {
  content: "\ebde";
}

.icon-lishi:before {
  content: "\ebdf";
}

.icon-piliangcaozuo:before {
  content: "\ebe0";
}

.icon-daochu:before {
  content: "\ebe1";
}

.icon-daoru:before {
  content: "\ebe2";
}

.icon-qiehuan:before {
  content: "\ebe3";
}

.icon-dayin:before {
  content: "\ebe4";
}

.icon-shanchu:before {
  content: "\ebe5";
}

.icon-qianyi:before {
  content: "\ebe6";
}

.icon-xiazai:before {
  content: "\ebe7";
}

.icon-shangchuan:before {
  content: "\ebe8";
}

.icon-guanxiguanlian:before {
  content: "\ebe9";
}

.icon-fuzhi:before {
  content: "\ebea";
}

.icon-zhengquequeding:before {
  content: "\ebeb";
}

.icon-xinzeng:before {
  content: "\ebec";
}

.icon-suoxiao:before {
  content: "\ebed";
}

.icon-quxiaocuowu:before {
  content: "\ebee";
}

.icon-gengxin:before {
  content: "\ebef";
}

.icon-jibenxinxi:before {
  content: "\ebf0";
}

.icon-anniuicon_4:before {
  content: "\eb24";
}

.icon-anniuicon_5:before {
  content: "\eb25";
}

.icon-anniuicon_6:before {
  content: "\eb26";
}

.icon-anniuicon_3:before {
  content: "\eb27";
}

.icon-anniuicon_2:before {
  content: "\eb28";
}

.icon-anniuicon_10:before {
  content: "\eb29";
}

.icon-anniuicon_1:before {
  content: "\eb2a";
}

.icon-anniuicon_9:before {
  content: "\eb2b";
}

.icon-anniuicon_7:before {
  content: "\eb2c";
}

.icon-anniuicon_17:before {
  content: "\eb2d";
}

.icon-anniuicon_11:before {
  content: "\eb2e";
}

.icon-anniuicon_15:before {
  content: "\eb2f";
}

.icon-anniuicon_14:before {
  content: "\eb30";
}

.icon-anniuicon_13:before {
  content: "\eb31";
}

.icon-anniuicon_18:before {
  content: "\eb32";
}

.icon-anniuicon_8:before {
  content: "\eb33";
}

.icon-anniuicon_19:before {
  content: "\eb34";
}

.icon-anniuicon_12:before {
  content: "\eb35";
}

.icon-anniuicon_26:before {
  content: "\eb36";
}

.icon-anniuicon_23:before {
  content: "\eb37";
}

.icon-anniuicon_16:before {
  content: "\eb38";
}

.icon-anniuicon_27:before {
  content: "\eb39";
}

.icon-anniuicon_25:before {
  content: "\eb3a";
}

.icon-anniuicon_29:before {
  content: "\eb3b";
}

.icon-anniuicon_21:before {
  content: "\eb3c";
}

.icon-anniuicon_24:before {
  content: "\eb3d";
}

.icon-anniuicon_20:before {
  content: "\eb3e";
}

.icon-anniuicon_31:before {
  content: "\eb3f";
}

.icon-anniuicon_30:before {
  content: "\eb40";
}

.icon-anniuicon_22:before {
  content: "\eb41";
}

.icon-anniuicon_28:before {
  content: "\eb42";
}

.icon-anniuicon_32:before {
  content: "\eb43";
}

.icon-leixingicon_2:before {
  content: "\eb44";
}

.icon-leixingicon_1:before {
  content: "\eb45";
}

.icon-leixingicon_4:before {
  content: "\eb46";
}

.icon-leixingicon_5:before {
  content: "\eb47";
}

.icon-leixingicon_3:before {
  content: "\eb48";
}

.icon-leixingicon_6:before {
  content: "\eb49";
}

.icon-leixingicon_12:before {
  content: "\eb4a";
}

.icon-leixingicon_8:before {
  content: "\eb4b";
}

.icon-leixingicon_11:before {
  content: "\eb4c";
}

.icon-leixingicon_9:before {
  content: "\eb4d";
}

.icon-leixingicon_16:before {
  content: "\eb4e";
}

.icon-leixingicon_17:before {
  content: "\eb4f";
}

.icon-leixingicon_15:before {
  content: "\eb50";
}

.icon-leixingicon_18:before {
  content: "\eb51";
}

.icon-leixingicon_19:before {
  content: "\eb52";
}

.icon-leixingicon_10:before {
  content: "\eb53";
}

.icon-leixingicon_29:before {
  content: "\eb54";
}

.icon-leixingicon_7:before {
  content: "\eb55";
}

.icon-leixingicon_22:before {
  content: "\eb56";
}

.icon-leixingicon_25:before {
  content: "\eb57";
}

.icon-leixingicon_21:before {
  content: "\eb58";
}

.icon-leixingicon_20:before {
  content: "\eb59";
}

.icon-leixingicon_14:before {
  content: "\eb5a";
}

.icon-leixingicon_13:before {
  content: "\eb5b";
}

.icon-leixingicon_38:before {
  content: "\eb5c";
}

.icon-leixingicon_23:before {
  content: "\eb5d";
}

.icon-leixingicon_24:before {
  content: "\eb5e";
}

.icon-leixingicon_40:before {
  content: "\eb5f";
}

.icon-leixingicon_44:before {
  content: "\eb60";
}

.icon-leixingicon_35:before {
  content: "\eb61";
}

.icon-leixingicon_42:before {
  content: "\eb62";
}

.icon-leixingicon_32:before {
  content: "\eb63";
}

.icon-leixingicon_26:before {
  content: "\eb64";
}

.icon-leixingicon_62:before {
  content: "\eb65";
}

.icon-leixingicon_27:before {
  content: "\eb66";
}

.icon-leixingicon_52:before {
  content: "\eb67";
}

.icon-leixingicon_49:before {
  content: "\eb68";
}

.icon-leixingicon_33:before {
  content: "\eb69";
}

.icon-leixingicon_46:before {
  content: "\eb6a";
}

.icon-leixingicon_51:before {
  content: "\eb6b";
}

.icon-leixingicon_30:before {
  content: "\eb6c";
}

.icon-leixingicon_37:before {
  content: "\eb6d";
}

.icon-leixingicon_55:before {
  content: "\eb6e";
}

.icon-leixingicon_48:before {
  content: "\eb6f";
}

.icon-leixingicon_57:before {
  content: "\eb70";
}

.icon-leixingicon_58:before {
  content: "\eb71";
}

.icon-leixingicon_34:before {
  content: "\eb72";
}

.icon-leixingicon_56:before {
  content: "\eb73";
}

.icon-leixingicon_53:before {
  content: "\eb74";
}

.icon-leixingicon_75:before {
  content: "\eb75";
}

.icon-leixingicon_66:before {
  content: "\eb76";
}

.icon-leixingicon_28:before {
  content: "\eb77";
}

.icon-leixingicon_41:before {
  content: "\eb78";
}

.icon-leixingicon_36:before {
  content: "\eb79";
}

.icon-leixingicon_77:before {
  content: "\eb7a";
}

.icon-leixingicon_63:before {
  content: "\eb7b";
}

.icon-leixingicon_45:before {
  content: "\eb7c";
}

.icon-leixingicon_39:before {
  content: "\eb7d";
}

.icon-leixingicon_60:before {
  content: "\eb7e";
}

.icon-leixingicon_65:before {
  content: "\eb7f";
}

.icon-leixingicon_50:before {
  content: "\eb80";
}

.icon-leixingicon_54:before {
  content: "\eb81";
}

.icon-leixingicon_68:before {
  content: "\eb82";
}

.icon-leixingicon_88:before {
  content: "\eb83";
}

.icon-leixingicon_70:before {
  content: "\eb84";
}

.icon-leixingicon_84:before {
  content: "\eb85";
}

.icon-leixingicon_72:before {
  content: "\eb86";
}

.icon-leixingicon_73:before {
  content: "\eb87";
}

.icon-leixingicon_92:before {
  content: "\eb88";
}

.icon-leixingicon_69:before {
  content: "\eb89";
}

.icon-leixingicon_74:before {
  content: "\eb8a";
}

.icon-leixingicon_47:before {
  content: "\eb8b";
}

.icon-leixingicon_85:before {
  content: "\eb8c";
}

.icon-leixingicon_96:before {
  content: "\eb8d";
}

.icon-leixingicon_59:before {
  content: "\eb8e";
}

.icon-leixingicon_81:before {
  content: "\eb8f";
}

.icon-leixingicon_76:before {
  content: "\eb90";
}

.icon-leixingicon_82:before {
  content: "\eb91";
}

.icon-leixingicon_31:before {
  content: "\eb92";
}

.icon-leixingicon_61:before {
  content: "\eb93";
}

.icon-leixingicon_89:before {
  content: "\eb94";
}

.icon-leixingicon_43:before {
  content: "\eb95";
}

.icon-leixingicon_79:before {
  content: "\eb96";
}

.icon-leixingicon_99:before {
  content: "\eb97";
}

.icon-leixingicon_91:before {
  content: "\eb98";
}

.icon-leixingicon_95:before {
  content: "\eb99";
}

.icon-leixingicon_83:before {
  content: "\eb9a";
}

.icon-leixingicon_98:before {
  content: "\eb9b";
}

.icon-leixingicon_87:before {
  content: "\eb9c";
}

.icon-leixingicon_67:before {
  content: "\eb9d";
}

.icon-leixingicon_97:before {
  content: "\eb9e";
}

.icon-leixingicon_100:before {
  content: "\eb9f";
}

.icon-leixingicon_64:before {
  content: "\eba0";
}

.icon-leixingicon_71:before {
  content: "\eba1";
}

.icon-leixingicon_78:before {
  content: "\eba2";
}

.icon-leixingicon_93:before {
  content: "\eba3";
}

.icon-leixingicon_80:before {
  content: "\eba4";
}

.icon-leixingicon_90:before {
  content: "\eba5";
}

.icon-leixingicon_94:before {
  content: "\eba6";
}

.icon-leixingicon_86:before {
  content: "\eba7";
}

