.relationElementList {
  height: 100%;
  padding-top: 5px;

  .footer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: center;
  }

  .search {
    margin: 0px 10px 5px 0;
    text-align: right;
  }

  .table {
    height: calc(100% - 42px - 42px)
  }

  :global {
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding: 2px 16px !important;
    }
  }
}
