.modal {
  width:500px !important;
  :global {
    .ant-modal-body{
      padding:30px 24px;
    }
    .ant-modal-footer {
      border-top: none;
    }
  }
  .iconSty{
    margin-right: 10px;
    color: #ffd942;
    font-size: 22px;
  }
  .spanSty{
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
  }
  .content{
    margin-top: 13px;
    font-size: 15px;
    text-indent: 32px;
    line-height: 22px
  }
}
