@import '../../../styles/base.less';

.wrap {
  height: 100%;
}
.colWrap {
  padding: 16px 16px 0 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &:first-child {
    border-right: @borderStyle;
  }
  .treeWrap {
    flex:1;
    margin-top: auto;
  }
}