@import '../../styles/base.less';
@treeNodeMargin: 24px;
@treeNodeHeight: 32px;
.userTab {
  overflow: hidden;

  :global {
    .ant-row {
      height:90%;
    }

    .ant-col {
      height: 100%;
    }
    .ant-form-item-label{
      height: auto;
    }

    .ant-col-11 {
      height: calc(100% - 42px);
      border: 1px solid rgba(235, 235, 235, 1);
    }

    .ant-tabs-tabpane {
      overflow: hidden !important;
    }

    .ant-tabs-bar {
      margin: 0 !important;
    }


    .ant-table-body {
      //height: calc(100% - 58px) !important;
      max-height: inherit !important;
    }

    .ant-table-content {
      .ant-table-body {
        //height: 100% !important;
      }
    }

    //.ant-table-fixed {
    //  .ant-table-thead {
    //    tr {
    //      th {
    //        height: 41px;
    //      }
    //    }
    //  }
    //}

  }

  .openIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    font-size: 12px;
  }

  .checkStyle {
    margin-right: 3px;
  }

  .tabTitleSty {
    width: 100%;
    height: 42px;
    font-size: 12px;
    line-height: 42px;
  }

  .tableSty {
    height: 100%;
  }

  .divFlex {
    display: flex;
    height: 100%;
  }

  .divFlexSty {
    flex: 1;
    margin-left: 22px;

    :global {
      .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td {
        background: none;
      }
    }
  }
}
.tabHeight{
  height: 90%;
}
