@import '../../styles/base.less';

.wrap {
  height: 16%;
}

.item {
  height: 100%;
  padding: 10px 0;
  border-radius: 4px;
  background: rgba(0,0,0,.6);

  .box {
    font-size: 12px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;

    // &:hover {
    //   box-shadow: @boxShadow;
    // }

    &.hasFunction {
      cursor: pointer;
    }


    .count {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .countWrap {
    height: 100%;
    box-shadow: @boxShadow;
  }

  .iconWrap {
    margin-right: 20px;
    //border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    z-index: 0;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 34px;
    //   height: 34px;
    //   border-radius: 50%;
    //   background: #fff;
    //   left: 7px;
    //   top: 7px;
    //   z-index: 1;
    // }
    .icon {
      z-index: 1;
      font-size: 30px;
      position: relative;
      color: #fff;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.transItem{
  width: 150px;
  margin-right: 10px;
}
.partItem{
  margin-bottom: 10px;
}