@import '../../../styles/base.less';

.wrap {
  width: calc(100% + @cubeMargin);
  position: absolute;
  bottom: 0;
  height: @footerHeight;
  background: @containerBg;
  box-shadow: 0 1px 6px -2px #ccc
}