.avatarUpload {
  height: 82px;
  :global {
    .ant-upload {
      margin: 0;
      width: 80px;
      max-width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      .ant-upload {
        padding: 0;
        height: 80px;
        display: block;
        img {
           width: 100%;
          //height: 100%;
        }
      }
      .ant-upload-picture-card-wrapper {
        height: 80px;

      }
    }
  }
}
.tip {
  color: #808080
}
