.wrap {
  display: flex;
  .leftForm {
    margin-right: auto;
    flex: 1;
    :global {
      .ant-form-item-label {
        width: 85px;
      }
    }
  }
  .rightWrap {
    margin-bottom: 8px;
  }
}