.wrap {
  margin-bottom: 6px;
}
.addBtn {
  margin-right: 10px;
  i {
    margin-right: 4px;
  }
}
.functionSelect {
  display: inline-block;
}
.rightWrap {
  float: right;
  label {
    margin: 0 5px 0 20px;
  }
}