.copyRole {
  display: flex;
  height: calc(100% - 42px);
}

.copyRoleHeader {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
  border: 1px solid rgba(245,245,245,1);
}

.copyRoleHeader1 {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
  background: rgba(250, 250, 250, 1);
}

.userList {
  flex: 4;

  :global {
    .ant-pagination {
      position: absolute;
      bottom: -46px;
      text-align: center;
    }
  }
}

.userCheck {
  flex: 1;
  margin-left: 20px;
  border: 1px solid rgba(245,245,245,1);
}

.userSwitchIcon {
  font-size: 24px !important;
  margin-left: 8px;
  cursor: pointer;
  color: #d9d9d9;
}

.openIcon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 7px;
  font-size: 12px !important;
}

.checkboxList {
  //padding-left: 8px;
}

.listTabSty {
  height: calc(100% - 70px);
  border: 1px solid rgba(245,245,245,1);
}
.listTabSty1 {
  border: 1px solid rgba(245,245,245,1);
}

.rowHeight {
  height: 32px !important;
  padding-left: 8px;
  line-height: 32px;
  border-bottom: 1px solid rgba(245,245,245,1);
}
