.verifyWay {
  text-align: center;
  &__info {
    font-size: 16px;
    color: #333333;
  }
  &__dec {
    margin-top: 8px;
    font-size: 12px;
    color: #808080;
  }
  &__input {
    margin-top: 36px;
  }
  &__btn {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &--phone,
    &--email {
      width: 190px;
      height: $--button-height;
    }
  }
}
