@import '../../../../../styles/base.less';
.wrap {
  :global {
    .ant-form-item-label {
      width: 120px;
    }
    .ant-select-dropdown-menu {
      padding-top: 5px !important;
    }
  }
}
.copyEntry {
  display: inline-block;
  margin-left: 5px;
  width: 131px;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: @defaultcolor;
  }
}
.muneConfig {
  margin-bottom: 5px;
}
.triggerWrap {
  border-top: @borderStyle;
  display: flex;
  justify-content: center;
  .trigger {
    min-width: 116px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    transition: color 0.2s;
    position: relative;
    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
    &:not(.disabled):hover {
      :global {
        span:not(.iconfont) {
          color: #111111;
          transition: color 0.2s;
        }
      }
    }
    :global {
      .iconfont {
        display: inline-block;
        margin-right: 10px;
      }
      .icon-new {
        position: absolute;
        right: 0;
        top: -8px;
        font-size: 20px;
      }
    }
  }
}

:global {
  .ant-select-dropdown-menu {
    padding-top: 5px !important;
  }
  .ant-select-selection-selected-value {
    & > div {
      border: 0 !important;
    }
  }
}

// 要删
.selectColor {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 9;
  top: 6px;
  left: 9px;
  border: 1px solid #bbc3cd;
  border-radius: 4px;
  background-size: 18px 18px !important;
}

.selectColor__option {
  width: 42px;
  height: 30px;
  display: inline-block;
}

.selectColor__option__div {
  border: 1px solid #bbc3cd;
  border-radius: 4px;
  background-size: 18px 18px !important;
}
