// class 变量名
// $--name

@mixin setLayout($--name) {
  .#{$--name} {
    &__content {
      margin: 10px 0 0 180px;
      display: flex;
      position: relative;
      height: calc(100vh - 204px);
      ::v-deep {
        p, ol li, pre, blockquote {
          padding: 5px 0;
        }
      }
    }
    &__middleContent {
      position: relative;
      flex: 1;
      overflow: hidden;
      padding-right: 200px;
    }
    &__searchContent {
      margin: 10px 200px 0 180px;
    }
    .contentBox {
      padding: 14px;
      background: #fafafa;
      position: relative;
      line-height: 22px;
      font-size: 13px;
      color: #808080;
      border-radius: 4px;
    }
    &__triangle {
      position: absolute;
      left: 20px;
      top: -14px;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid #fafafa;
    }
    
  }
}
