@import '../../../styles/base.less';
.wrap {
  display: flex;
  height: 100%;
  border: @borderStyle;
}
.leftWrap {
  width: 160px;
  border-right: @borderStyle;
}
.container {
  flex: 1;
  margin-left: auto;
  overflow: auto;
}