.wrap {
  .select {
    width: 100%;
  }
  :global {
    .ant-form-item-label {
      // width: auto;
    }
    .ant-form-item:last-child {
      padding-right: 0;
      .ant-input-number {
        width: 100%;
      }
    }
  }
}