@mixin setListLayout($--name) {
  .#{$--name} {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content {
      display: flex;
      padding: 30px;
      overflow: auto;
      .form {
        width: 100%;
      }
      .form--line {
        width: 100%;
        display: flex;
      }
      .form--child {
        flex: 1;

        &:nth-child(2n) {
          margin-left: 20px;
        }
        ::v-deep {
          .apiotInput {
            .el-select {
              width: 85px;
            }
          }
        }
      }
    }
    &__footer {
      padding: 0 10px;
      flex-shrink: 0;
      height: 42px;
      line-height: 42px;
      text-align: right;
      box-shadow: inset 0px 1px 0px 0px #ebebeb;
    }
  }
}
