@font-face {
  font-family: 'SourceHanSansSC'; /* Project id 2516478 */
  font-size: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // src: url('data:application/font-ttf;charset=utf-8;base64,')
  // src: url('data:font/opentype;charset=utf-8;base64,')
  src: url('~@/static/appFont/stylesheet.css');
}
