/*
* @Description: 主题色文件
* @Author: sss
* @Date: 2021-04-26 17:23:05
 * @Last Modified by: sss 
 * @Last Modified time: 2022-03-15 20:13:11
*/
@import './index.scss';
@import '~uview-ui/theme.scss';

@import '~uview-ui/index';
// 主题色
$themeColor: (
  0: #4689f5,
  1: #C62127,
  2: #EE5E5E,
  3: #FAB71C,
  4: #FC8256,
  5: #34C7BE,
  6: #10B98A,
  7: #1CA6FF,
  8: #A853F2,
  9: #EF4373,
  10: #708DB7,
);
@each $key, $color in $themeColor {
  .themeColor__bg-#{$key} {
    // 主题背景色
    background-color: $color !important;
  }
  .themeColor__font-#{$key} {
    // 主题字体色
    color: $color !important;
  }
  .themeColor__bg-font-#{$key} {
    // 主题背景+字体色
    color: $color !important;
    background-color: lighten($color, 35%) !important;
  }
  .themeColor__border-#{$key} {
    // 主题背景色
    border-color: $color !important;
  }
  button.themeColor__btn-#{$key} {
    // 主题色按钮
    border-color: $color !important;
    background-color: $color !important;
    &.u-primary-hover {
      background-color: darken($color, 10%) !important;
    }
    &.u-btn--primary--disabled {
      background-color: rgba($color, 0.6) !important;
    }
  }
  button.defalut__btn-#{$key} {
    // 默认按钮
    &.u-default-hover {
      color: $color !important;
      border-color: $color !important;
      background-color: rgba($color, 0.3) !important;
    }
  }
}
