// 该文件打包时 引入
/* 改变主题色变量 */
$--color-primary: #4689f5;
$--hover-fontColor: #2b71e0;
$--hover-iconColor: #4689f5;
$--hover-bgColor: #6ba1f7;
// hover 的主题色
$--hover-color: #edf3fe;
/* 登录模块 */
$--button-height: 40px;
/* 分页高度 */
$--pagination--height: 42px;
/* 流程中顶部操作栏高度 */
$--actionBar--height: 46px;
$component-borderFocus-color: #4689f5;
$component-border-color: #2b71e0;
$component-background-color: #FFFFFF;


// 之后张哥估计会涉及到风格
$layoutHeader: var(--layoutHeader, 50px); // 50px
$iconFontSizeHeadr: 22px; // 22px
$userImageHeader: 34px; // 34px
$tabsHeaderToHeader: 250px; // 250px

// 登录主题色
$loginThemeColor: var(--loginThemeColor, #4689f5); // 50px

@mixin leftTriangle($w, $h,$color, $color1, $color2) {
  width: $w;
  height: $h;
  background:linear-gradient(to bottom right,$color  49.9%, $color1 50%,$color2 100%);
}

@mixin rightTriangle($w, $h,$color, $color1, $color2) {
  width: $w;
  height: $h;
  background:linear-gradient(to bottom left, $color 49.9%, $color1 50%,$color2 100%);
}

@mixin topTriangle($w, $h, $color, $color1, $color2) {
  width: $w;
  height: $h;
  background:linear-gradient(to bottom left, $color 49.9%, $color1 50%,$color2 100%);
}

@mixin bottomTriangle($w, $h,$color, $color1, $color2) {
  width: $w;
  height: $h;
  background:linear-gradient(to top left, $color 49.9%, $color1 50%,$color2 100%);
}

// $remto1px: 0.083rem;
// $remto2px: 0.17rem;
// $remto3px: 0.25rem;
// $remto4px: 0.33rem;
// $remto5px: 0.42rem;
// $remto6px: 0.5rem;
// $remto8px: 0.67rem;
// $remto10px: 0.83rem;
// $remto12px: 1rem;
// $remto13px: 1.08rem;
// $remto14px: 1.17rem;
// $remto16px: 1.33rem;
// $remto18px: 1.5rem;
// $remto20px: 1.67rem;
// $remto24px: 2rem;
// $remto30px: 2.5rem;
// $remto32px: 2.67rem;
// $remto34px: 2.83rem;
// $remto36px: 3rem;
// $remto40px: 3.33rem;
// $remto45px: 3.75rem;
// $remto50px: 4.17rem;
// $remto60px: 5rem;
// $remto70px: 5.8rem;
// $remto78px: 6.5rem;
// $remto135px: 11.25rem;
// $remto200px: 16.67rem;
// $remto282px: 23.5rem;
// $remto330px: 27.5rem;
// $remto450px: 37.5rem;