@import '../../../../styles/base.less';
.wrap {
  padding: 30px 20px;
}
.copyWrap {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: @defaultcolor;
  }
}
