@mixin setFormStyle() {
  $--grapHeight: 5px;
  
  .rowForm {
    margin: 20rpx;
    ::v-deep{
      .element{
        margin: 0 30rpx;
        align-items: center;
        box-shadow: inset 0 -1rpx 0 0 #e9e9e9;
        .elementLabel {
          margin: 0 8rpx 0 0;
          width: 160rpx;
          font-size: 30rpx;
          flex-shrink: 0;
        }
        .elementContent{
          flex: 1;
          padding: 6rpx 0;
        }
        &.topEl {
          flex-direction: column;
          align-items: stretch;
          padding-bottom: 30rpx;
          .elementLabel {
            width: 100%;
            min-height: 34px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .configForm__content {
      border-radius: 12rpx;
    }
    .hasBorder {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.5;
        background: #e9e9e9;
      }
    }
  }
  .columnForm {
    padding: $--grapHeight 0;
    ::v-deep{
      .element{
        padding: 0 30rpx;
        flex-direction: column;
        // box-shadow: inset 0 -1rpx 0 0 #e9e9e9;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 1rpx;
          box-shadow: inset 0 -1rpx 0 0 #e9e9e9;
        }
        .elementLabel {
          width: 100%;
          min-height: 34px;
          display: flex;
          align-items: center;
        }
        .elementContent{
          width: 100%;
        }
        &.topEl {
          padding-bottom: 30rpx;
        }
      }
    }
  }
  .configForm {

    &__content {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      .grap {
        width: 100%;
        height: 5px;
        background: #f6f6f8;
      }
    }
  }
}
