.DetailListHeight {
  height: 300px;
}

.typeBox {
  margin: 0 1%;

  :global {
    .ant-form-item-label {
      width: 115px;
      padding-right: 9px;
      height: 32px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      white-space: inherit;
    }

  }
}

.imgSty {
  width: 100%;
  cursor: pointer;
}
.tags{
  margin-top: 5px;
}
.typeBoxTitle {
  margin: 0 20px
}

.selectType {
  width: 100px;
}

.btnBox {
  width: 100%;
  height: 42px;
  position: relative;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
