.wrap {
  height: 100%;
  .addBtn {
    margin: 12px;
    :global {
      .iconfont {
        margin-right: 4px;
      }
    }
  }
  .table {
    height: calc(100% - 56px);
  }
  .operator {
    :global {
      .iconfont {
        cursor: pointer;
      }
    }
  }
}