@import '../../../../../../styles/base.less';
.table {
  border: @borderStyle;
  border-bottom: none;
  min-height: 130px;
  background: #fff;
  :global {
    .ant-table-placeholder {
      top: 50px!important;
    }
    .icon-minus-border {
      cursor: pointer;
    }
  }
}