.wrap {
  // padding: 30px 30px 0 30px;
  height: 100%;
  padding-left: 15px;
  overflow-y: scroll;
  .addBtn {
    margin: 12px;

    :global {
      .iconfont {
        margin-right: 4px;
      }
    }
  }

  .textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  .jump {

  }

  .table {
    // margin-top: 10px;
    height: calc(100% - 56px);
    position: relative;
  }

  .typeRadio {
    display: inline-block;
    margin-left: 20px;
  }

  :global {
    .ant-radio-wrapper {
      font-weight: bold;
      color: #111;
    }
  }
}

.table {
  :global {
    .ant-table-content {
      min-height: 150px;
    }
  }
}

.operator {
  :global {
    span.iconfont {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
