@import '../../../../../styles/base.less';
.btnWrap {
  margin-bottom: 6px;
  .btn {
    margin-right: 10px;
    i {
      margin-right: 4px;
    }
  }
}
.copyEntry {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: @defaultcolor;
  }
}
