@defaultHeight: 23px;
.tableHeight02 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 42px - 38px);
  position: relative;
  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      padding: 7px 0 7px 6px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      padding: 0 0 0 6px;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 42px);
  position: relative;

  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      //padding: 7px 0 7px 6px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      //padding: 0 0 0 6px;
      padding: 0;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight62 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 42px - 38px);

  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      padding: 7px 0 7px 6px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      padding: 7px 0 7px 6px;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight6 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 42px);

  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      //padding: 7px 0 7px 6px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      //padding: 7px 0 7px 6px;
      padding: 0;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight82 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 38px);

  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      padding: 7px 0 7px 6px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      padding: 0 0 0 6px;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight8 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 1px);

  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 2px 8px;
      //padding: 7px 0 7px 6px;
      padding: 0;
      height: 37px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      //padding: 0 0 0 6px;
      padding: 0;
    }

    //.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
    //  padding: 2px 8px;
    //}

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 12px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}


.contentClass {
  height: 24px;
  display: flex;
  align-items: center;
  padding-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.stateClass {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
  margin-right: 5px;
}

.contentTitle {
  float: left;
  height: 100%;
  //padding: 0 5px;
  //width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px;
  line-height: 24px;
}

.tableFixSty {
  height: calc(100%);
}

.tableHeight22 {
  height: calc(100% - 38px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px 8px;
    }


    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0 6px 8px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 8px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight2 {
  height: calc(100% - 1px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px 8px;
      padding: 0;
    }


    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 6px 0 6px 8px;
      padding: 0;
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      //margin: 8px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableNoSelectCls {
  :global {
    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
      height: 37px;
      padding: 0 0 0 6px !important;
    }
    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      height: 37px;
    }
  }
  .contentClass{
    padding: 0 0 0 6px;
  }
}
.tableHeight5 {
  height: calc(100%);

  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px 8px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-pagination.ant-pagination {
      margin: 8px 10px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}


.cellHeight {
  min-height: 16px;
  height: 36px;
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.cellSelect,
.cellInput,
.cellNormalSelect {
  width: 90% !important;
}

.tableHeight1 {
  height: calc(100% - 42px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-pagination.ant-pagination {
      margin: 8px 10px 8px 0;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight4 {
  height: calc(100% - 42px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-pagination.ant-pagination {
      margin: 8px 10px 8px 0;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.tableHeight32 {
  height: calc(100% - 42px - 38px);
  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight3 {
  height: calc(100% - 42px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 6px 0;
      padding: 0;
      height: 37px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight9 {
  height: calc(100% - 42px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 35px);
    }
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 2px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      //padding: 6px 0;
      padding: 0;
      height: 37px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.pageStyle {
  text-align: center;
}

.addNewBtn {
  //width: 85px;
  height: 32px;
  padding: 0 8px;
  //margin: 7px 0 0 0px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 32px;
  background: #fff;
  color: #111111;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  .addnewBtnIco {
    margin-right: 5px;
    color: #c62127;
  }
}

.addNewBtn1 {
  //width: 85px;
  height: 32px;
  padding: 0 8px;
  margin: 5px 0 0 0px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 32px;
  background: #fff;
  color: #111111;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  .addnewBtnIco {
    margin-right: 5px;
    color: #c62127;
  }
}

.commonIconStyle {
  margin-right: 5px;
  font-size: 14px;
  color: #c62127;
}

.divFlex {
  float: left;
  height: 37px;
  margin-top: 5px;
  //margin-bottom: 14px;
  margin-right: 9px;
}

.divFlex1 {
  float: left;
  height: 42px;
  margin-right: 9px;
}

.modalDetial {
  padding-top: 20px;
}

.searchBox {
  width: 100%;
  margin: 5px 5px 5px 0;
  text-align: right;
}

.columsSpan {
  margin-right: 15px;
  cursor: pointer;
}

.searchBox1 {
  width: 100%;
  margin: 5px;
  text-align: right;
}

.searchStyle {
  margin-top: 5px;
  margin-right: 10px;
  height: 37px;
  float: right;
}

.tableFooterWrap {
  height: 100%;
  width: 100%;
  padding: 0 0 0 60px;
  overflow-y: hidden;
  overflow: hidden;
  box-sizing: border-box;
}

.tableFooter {
  height: 100%;
  display: flex;
  //align-items: center;
  overflow-y: hidden;

  div {
    font-size: 12px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
  }
}

:global {
  .ant-table-footer {
    height: 35px;
    padding: 0;
  }
}

.countItem {
  cursor: pointer;
  height: 36px;
  padding: 5px 10px;
  line-height: 26px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: #e9e9e9;
  }
}

.countSelectWrap {
  padding: 5px 10px;

  :global {
    .ant-radio-wrapper {
      line-height: 2;
    }
  }
}

.contentTable {
  :global {
    .ant-table-pagination.ant-pagination {
      right: 0;
    }
  }
}

.chooseMuch {
  position: absolute;
  bottom: 3px;
  width: fit-content;
  left: 40px;
  right: 0;
  text-align: left;
  padding: 5px 0;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 8px;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  &::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 12px;
    width: 8px;
    height: 8px;
    background: #4689f5;
  }

  &__cancle {
    color: #4689f5;
    margin-left: 6px;
    cursor: pointer;
  }
}
