.configuration {
  &--line {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    .header__label {
      display: inline-block;
      padding-bottom: 6px;
      font-size: 13px;
      font-weight: 600;
      color: #333333;
      font-family: PingFangSC-Medium, PingFang SC;
      &.isRequired {
        &::before {
          content: '*';
          color: #f56c6c;
          margin-right: 4px;
        }
      }
    }
    .interaction{
      padding-top: 6px;
      margin-bottom: 10px;
    }
  }
}
