.apiotWangeditor {
  ::v-deep {
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
    blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
    img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
    center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
    tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
    figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
    time,mark,audio,video{
      // margin: initial;
      // padding: initial;
      // border: initial;
      // font-size: initial;
      font: revert;
      // vertical-align: initial;
      font-size: 13px;
      color: #333;
    }
    p,
    ol,
    ul,
    blockquote,
    div {
      line-height: 1.5;
    }
    ul{
      list-style: initial;
    }
    ol{
      list-style: auto;
    }
    sub, sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    sup {
      top: -0.5em;
    }
    sub {
      bottom: -0.25em;
    }
    h1, h2,h3,h4,h5 {
      display: block;
      font-weight: bold;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    h1 {
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
    }
    h2 {
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
    }
    h3 {
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
    h4 {
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
    }
    h5{
      font-size: 0.83em;
      margin-block-start: 1.67em;
      margin-block-end: 1.67em;
    }
    // .w-e-text-container p {
    //   margin: 0;
    // }
    // .w-e-text-placeholder {
    //   top: 0;
    // }
    .custom__varible {
      margin: 0 5px;
      padding: 0 10px;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      background: #e5f0ff;
      color: #4689f5;
      user-select: none;
      white-space: pre;
      word-wrap: normal;
      border-radius: 4px;
      border: none;
      &.type_1 {
        background: #ffeaeb;
        color: #ee5e5e;
      }
      &.type_2 {
        background: #ebfcf7;
        color: #10b98a;
      }
      &.type_3 {
        background: #e5f0ff;
        color: #4689f5;
      }
    }
  }
}
.w-e-full-screen-container {
  z-index: 2000;
}