@font-face {
  font-family: "iconfont"; /* Project id 3589590 */
  /* Color fonts */
  src: 
       url('@/assets/commonColour/iconfont.woff2?t=1666261194845') format('woff2'),
       url('@/assets/commonColour/iconfont.woff?t=1666261194845') format('woff'),
       url('@/assets/commonColour/iconfont.ttf?t=1666261194845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongdan:before {
  content: "\ebb4";
}

.icon-caigouyu:before {
  content: "\ebb5";
}

.icon-quanjupeizhi:before {
  content: "\ebb6";
}

.icon-renyuandangan:before {
  content: "\ebb7";
}

.icon-huobidangan:before {
  content: "\ebb8";
}

.icon-mimayouxiaoqiguanli:before {
  content: "\ebb9";
}

.icon-cunhuochengbenfenlei:before {
  content: "\ebba";
}

.icon-xitongrizhi:before {
  content: "\ebbb";
}

.icon-daorumobanpeizhi:before {
  content: "\ebbc";
}

.icon-gongyingshangfenzu:before {
  content: "\ebbd";
}

.icon-weizhidangan:before {
  content: "\ebbe";
}

.icon-yonghuguanli:before {
  content: "\ebbf";
}

.icon-APPpeizhi:before {
  content: "\ebc0";
}

.icon-tongji:before {
  content: "\ebc1";
}

.icon-yinhangzhanghao:before {
  content: "\ebc2";
}

.icon-xiaoximoban:before {
  content: "\ebc3";
}

.icon-gongsidangan:before {
  content: "\ebc4";
}

.icon-guzhang:before {
  content: "\ebc5";
}

.icon-wenjuanguanli:before {
  content: "\ebc6";
}

.icon-zhishiku:before {
  content: "\ebc7";
}

.icon-zidianguanli:before {
  content: "\ebc8";
}

.icon-zhiweiguanli:before {
  content: "\ebc9";
}

.icon-tubiaoguanli:before {
  content: "\ebca";
}

.icon-liuchengguanli:before {
  content: "\ebcb";
}

.icon-shuju:before {
  content: "\ebcc";
}

.icon-zuzhiguanli:before {
  content: "\ebcd";
}

.icon-zidingyiyemian:before {
  content: "\ebce";
}

.icon-yunshufangshi:before {
  content: "\ebcf";
}

.icon-caidanguanli:before {
  content: "\eba8";
}

.icon-biaodashi:before {
  content: "\eba9";
}

.icon-danweiguanli:before {
  content: "\ebaa";
}

.icon-bangzhuzhongxinpeizhi:before {
  content: "\ebab";
}

.icon-danju:before {
  content: "\ebac";
}

.icon-dajuanbaogao:before {
  content: "\ebad";
}

.icon-gonghuoshang:before {
  content: "\ebae";
}

.icon-jiaoseguanli:before {
  content: "\ebaf";
}

.icon-caigoudanjuxingzhi:before {
  content: "\ebb0";
}

.icon-dingshirenwu:before {
  content: "\ebb1";
}

.icon-kehudangan:before {
  content: "\ebb2";
}

.icon-shitiguanli:before {
  content: "\ebb3";
}

