.boxWrap {
  position: relative;
  padding-bottom: 20px;
  .wrap {
    border-radius: 15px;
    position: absolute;
    right: 20px;
    bottom: 7px;

    &:hover,
    &:focus {
      background: #ffffff;
    }
  }
}
