@import '../../../../styles/base.less';

.wrap {
  height: 100%;
  .content {
    height: 140px;
    overflow: auto;
  }
  .list {
    overflow: auto;
    padding: 0 20px;
    height: calc(100% - 42px);
  }
  :global {
    .ant-pagination {
      padding-top: 10px;
      border-top: @borderStyle;
    }
  }
}