.wrap {
  height: 100%;
}
.btnWrap {
  padding: 8px 0;
  :global {
    .ant-btn {
      margin-right: 8px;
      .iconfont {
        margin-right: 5px;
      }
    }
  }
}
.table {
  height: calc(100% - 48px - 42px);
}
.upload {
  display: inline-block;
}
.footer {
  left: -20px;
  width: calc(100% + 40px);
}