@import '../../../../styles/base.less';

.wrap {
  border-bottom: @borderStyle;
  padding: @cubeMargin;
  :global {
    .ant-btn {
      margin-right: 14px;
    }
    .iconfont {
      margin-right: 4px;
      font-size: 14px;
    }
  }
}