.operator {
  span {
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
  }
}
.wrap {
  height: 100%;
  .addBtn {
    margin: 10px;
  }
}
.tableWrap {
  height: calc(100% - 50px);
}