@import '../../../../styles/base.less';

.rootWrap {
  height: auto;
  margin-top: 8px;
  display: flex;
}
.formWrap {
  flex: 1;
}
.searchWrap {
  margin-right: 20px;
  // border-bottom: @borderStyle;
}

:global {
  .onlyLine {
    height: 34px;
    min-height: 34px;
  }
}
