@import '../../styles/base.less';

@defaultcolor: #c62127;
@darkRed: #9f0e13;
@pink: #ffe4e5;
@iconBg: #ffc4c6;
@white: rgba(255, 255, 255, 1);
@gray: rgba(235, 235, 235, 1);
@menuHoverColor: #fff1f1;
@triggerHeight: 42px;

.theme-init {
  // 添加按钮
  :global {
    .ant-tabs {
      color: rgba(0, 0, 0);
    }
    .globalAddNewBtn {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .globalAddNewBtn:hover {
      color: @defaultcolor;
      border: 1px solid rgba(@defaultcolor, 0.6);
      background: lighten(@defaultcolor, 50%);
    }

    .defaultButtonStyle {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .defaultButtonStyle:hover,
    .defaultButtonStyle:focus {
      color: @defaultcolor !important;
      border: 1px solid rgba(@defaultcolor, 0.6);
      background: lighten(@defaultcolor, 35%);
    }
  }

  :global {
    .triggerSidebar {
      line-height: @triggerHeight;
      padding-left: 26px;
      cursor: pointer;
      transition: padding 0.2s;

      &.collapsed {
        padding-left: 24px;
        transition: padding 0.2s;
      }

      i {
        font-size: 14px;
        color: #AAAAAA;
        &:hover {
          color: @defaultcolor;
        }
      }
    }

    .ant-switch-checked {
      background-color: @defaultcolor;
    }

    .ant-menu-submenu {
      .ant-menu {
        .ant-menu-item {
          &:before {
            content: '';
            display: inline-block;
            //width: 4px;
            //height: 4px;
            //border-radius: 50%;
            margin: 0 3px 0 7px;
            //background: rgba(217, 217, 217, 1);
          }
        }
      }
    }

    .ant-menu-item,
    .ant-menu-submenu .ant-menu-submenu-title {
      // padding-left: 32px!important;
      margin: 0;

      &:hover {
        color: @defaultcolor !important;
      }
    }

    .ant-menu-item:hover, .ant-menu-submenu:hover {
      background: @menuHoverColor;
      transition: all 0.4s;
    }
    .ant-menu-submenu:hover .iconfont{
      color: @defaultcolor !important;
    }
    .ant-menu-submenu .ant-menu-submenu-arrow::after {
      background-image: linear-gradient(to right, #AAAAAA, #AAAAAA);
    }
    .ant-menu-submenu .ant-menu-submenu-arrow::before {
      background-image: linear-gradient(to right, #AAAAAA, #AAAAAA);
    }
    .ant-menu-item:hover .iconfont{
      color: @defaultcolor !important;
    }

    .ant-menu-item-selected {
      background: @menuHoverColor !important;
      color: @defaultcolor !important;

      &:after {
        display: none;
      }
    }

    .ant-menu-submenu-selected {
      color: @defaultcolor !important;
      transition: all 0.4s;
    }
    .ant-menu-submenu-selected .ant-menu-submenu-title {
      color: @defaultcolor !important;
      transition: all 0.4s;
      background: @menuHoverColor;
      & .iconfont {
        color: @defaultcolor !important;
      }
      & .ant-menu-submenu-arrow::before,
      & .ant-menu-submenu-arrow::after {
        color: @defaultcolor;
        background: linear-gradient(to right, @defaultcolor, @defaultcolor);
      }
    }

    .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
      color: @defaultcolor;
      background: linear-gradient(to right, @defaultcolor, @defaultcolor);
    }

    //.ant-menu-submenu.ant-menu-submenu-popup:not(.ant-menu-submenu-hidden) {
    //  .ant-menu-item:hover{
    //    color: @defaultcolor !important;
    //  }
    //}
    .ant-menu-submenu.ant-menu-submenu-popup:not(.ant-menu-submenu-hidden) .ant-menu li:hover{
      color: @defaultcolor !important;
    }
  }


  // 分割线
  :global {
    .dividerStyle {
      .title2,
      .title3 {
        background: @defaultcolor;
      }
      .title3 {
        & > div:nth-child(2):after {
          background: lighten(@defaultcolor, 10%);
        }
        & > div:nth-child(3):after {
          background: lighten(@defaultcolor, 25%);
        }
        & > div:nth-child(4):after {
          background: lighten(@defaultcolor, 40%);
        }
      }
    }
  }

  // 视频
  :global {
    .controlIcon {
      display: inline-block;
      cursor: pointer;
      margin: 16px 18px;

      &.active {
        & span {
          color: @defaultcolor;
        }
      }

      & > span {
        font-size: 24px;
        color: rgba(128, 128, 128, 1);
      }

      & > div {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #444444;
        line-height: 17px;
      }
    }

    .database {
      background: @defaultcolor;
    }

    .database:hover {
      background: @darkRed;
    }

    .drawItem {
      text-align: center;
      line-height: 40px;
      cursor: pointer;

      &.active {
        & span {
          color: @defaultcolor;
        }
      }

      & .icon-draw-del {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 8px;
      }

      & span {
        color: #808080;
        font-size: 24px;
      }
    }

    .drawItem:hover {
      & span {
        color: @defaultcolor;
      }

      & .icon-draw-del {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 8px;
      }
    }

    .vedioCanvas {
      width: calc(100%);
      height: calc(100% - 80px - 42px);
      position: absolute;
      right: 0;
      top: 42px;
    }

    .controlIcon:hover {
      & > span {
        color: @defaultcolor;
      }

      & > div {
        color: @defaultcolor;
      }
    }
  }

  :global {
    .ant-btn-background-ghost.ant-btn-danger {
      color: @defaultcolor;
      border-color: @defaultcolor;
    }

    .videoContentWrap {
      .ant-tabs-top-bar .ant-tabs-tab-active {
        color: @defaultcolor !important;
        border-bottom: 3px solid @defaultcolor !important;
      }
    }

    .ant-tabs-ink-bar {
      background: @defaultcolor;
    }
  }

  // 工单展望
  :global {
    .ganttContainerSetColor {
      .switchbgd:hover {
        color: @defaultcolor !important;
      }

      .checkOutClass:checked::after {
        background-color: @defaultcolor !important;
        border-color: @defaultcolor !important;
      }
    }
  }

  // 主页高级筛选
  :global {
    .showFilter {
      right: 0;
      transition: all 0.2s;
      background: @defaultcolor;

      span,
      i {
        color: #fff;
      }
    }
  }

  :global {
    .ant-slider-track {
      background-color: @defaultcolor;
    }

    .ant-slider-handle {
      background-color: #fff;
      border: solid 2px @defaultcolor;
    }

    .ant-slider-handle:focus {
      border-color: @defaultcolor;
      outline: none;
      -webkit-box-shadow: 0 0 0 5px rgba(198, 38, 39, 0.4);
      box-shadow: 0 0 0 5px rgba(198, 38, 39, 0.4);
    }

    .ant-slider-handle.ant-tooltip-open {
      border-color: @defaultcolor;
    }

    .ant-slider:hover .ant-slider-track {
      background-color: @defaultcolor;
    }

    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: @defaultcolor;
    }

    .ant-slider-dot-active {
      border-color: @defaultcolor;
    }
  }

  :global {
    .custom-main-tab > .ant-tabs-bar .ant-tabs-nav-wrap {
      .ant-tabs-tab:hover {
        color: @defaultcolor !important;

        .icon-close,
        .icon-homepage {
          color: @defaultcolor !important;
        }
      }

      .ant-tabs-tab-active,
      .anticon-close {
        color: @defaultcolor !important;
        border-right: 1px solid transparent;
        height: @mainTabContentHeight;
        line-height: @mainTabContentHeight;
      }

      .ant-tabs-tab-active {
        background: #f5f5f5 !important;
        // margin-left: -1px !important;
        .icon-close,
        .icon-homepage {
          color: @defaultcolor !important;
        }
      }
    }

    // .ant-tree {
    //   // li .ant-tree-node-content-wrapper.ant-tree-node-selected:after,
    //   li.custom-tree-active {
    //     .ant-tree-node-content-wrapper:after {
    //       border-color: @defaultcolor;
    //     }
    //     .iconfont.icon-left {
    //       color: @defaultcolor;
    //     }
    //   }
    // }
    .custom-header-bg {
      background: linear-gradient(
        315deg,
        rgba(170, 7, 13, 1) 0%,
        rgba(198, 33, 39, 1) 54%,
        rgba(227, 52, 58, 1) 65%,
        rgba(209, 46, 54, 1) 85%,
        rgba(186, 14, 20, 1) 100%
      );
    }

    .custom-border-color {
      border-color: @defaultcolor;
    }

    .custom-header-badge .ant-badge-count {
      color: @defaultcolor;
      background: @white;
    }

    .custom-avatar {
      // border-color: @pink;
    }

    .custom-sidebar-menu {
      li.ant-menu-submenu {
        .custon-menuArrow-icon {
          background: @iconBg;
        }
      }

      li.ant-menu-submenu-open,
      li.ant-menu-item:hover,
      li.ant-menu-item-selected,
      .custom-active-main-menu {
        color: @defaultcolor;
        background: @pink;
        border-color: @defaultcolor;

        .custon-menuArrow-icon {
          background: @defaultcolor;
        }
      }

      .ant-menu-submenu-title:hover {
        color: @defaultcolor;
      }
    }

    .custom-sidebar-menu-hide {
      li.ant-menu-submenu-open,
      li.ant-menu-item:hover,
      li.ant-menu-item-selected,
      .custom-active-main-menu {
        background: none;

        .custon-menu-icon {
          color: inherit;
        }
      }
    }
  }

  :global {
    // 步骤条
    .ant-steps-item-finish .ant-steps-item-icon {
      border-color: @defaultcolor;
    }

    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
      color: @defaultcolor;
    }

    .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
      background-color: @defaultcolor;
    }

    .ant-steps-item-process .ant-steps-item-icon {
      background: @defaultcolor;
      border-color: @defaultcolor;
    }
  }

  // 图标颜色类
  :global {
    .custom-color {
      color: @defaultcolor !important;
    }

    .custom-bg {
      background-color: @defaultcolor;
    }

    .custom-iconLib-active {
      border-color: @defaultcolor !important;
      transition: border 0.2s;
    }

    .icon-file {
      color: #fab71c;
    }

    .icon-file-blue {
      color: #3b9bf6;
    }

    .icon-more {
      color: @defaultcolor;
    }

    .custon-menu-icon {
      color: @defaultcolor;
    }

    .app-card {
      &:hover {
        .iconfont {
          &.icon-app-setting,
          &.iconDown,
          &.icon-del {
            color: @defaultcolor;
            transition: all 0.2s;
          }
        }

        .editWrap:after {
          background: @defaultcolor !important;
          transition: all 0.2s;
        }
      }

      .iconfont {
        &.icon-app-setting,
        &.iconDown,
        &.icon-del {
          transition: all 0.2s;
        }
      }

      .editWrap:after {
        transition: all 0.2s;
      }
    }

    // 触发器左侧事件列表tab
    .custom-vertical-tab.ant-tabs {
      .ant-tabs-nav .ant-tabs-tab:hover,
      .ant-tabs-tab-active.ant-tabs-tab {
        color: @defaultcolor !important;
      }

      .ant-tabs-ink-bar {
        background: @defaultcolor;
      }
    }

    // 表单项
    .ant-checkbox-checked::after,
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio-checked::after,
    .ant-radio-inner::after,
    .ant-radio-wrapper:hover .ant-radio,
    .ant-radio:hover .ant-radio-inner,
    .ant-radio-input:focus + .ant-radio-inner,
    .ant-tree-checkbox-checked::after {
      border-color: @defaultcolor;
    }

    .ant-radio-input:focus + .ant-radio-inner {
      box-shadow: 0 0 0 3px rgba(198, 33, 39, 0.08);
    }

    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-radio-inner::after,
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
      background-color: @defaultcolor;
      border-color: @defaultcolor;
    }

    // 面板内模块tab
    .custom-third-tab {
      .ant-tabs-bar.ant-tabs-card-bar
        .ant-tabs-nav-container
        .ant-tabs-nav-wrap
        .ant-tabs-tab-active {
        background: @defaultcolor;
      }
    }

    .custom-content-tabs,
    .custom-pageConfig-tabs {
      .ant-tabs-ink-bar {
        background-color: @defaultcolor;
      }

      .ant-tabs-nav .ant-tabs-tab-active,
      .ant-tabs-nav .ant-tabs-tab:hover,
      &.pageConfig
        > .ant-tabs-bar
        > .ant-tabs-nav-container
        .ant-tabs-nav-wrap
        .ant-tabs-tab:first-child,
      &.pageConfig
        > .ant-tabs-bar
        > .ant-tabs-nav-container
        .ant-tabs-nav-wrap
        .ant-tabs-tab:last-child {
        color: @defaultcolor !important;
        // &:hover {
        //   color: @darkRed;
        // }
      }
    }

    .userTabStyle .ant-tabs-top-bar,
    .videoWrap .ant-tabs-top-bar {
      padding-left: 0 !important;
      height: 42px;

      .ant-tabs-tab {
        min-width: 112px !important;
        height: 42px !important;
        margin: 0;
        font-size: 14px !important;
        text-align: center;
        //line-height: 42px !important;
        border: none !important;
      }

      .ant-tabs-tab:hover {
        color: @defaultcolor !important;
      }

      .ant-tabs-tab-active {
        border-radius: 0 !important;
        text-align: center;
        color: @defaultcolor !important;
        border-bottom: 2px solid @defaultcolor !important;
      }

      //span {
      //  width: 112px !important;
      //}
    }

    .importActive {
      color: @defaultcolor;
    }

    .licenseManagerOn {
      border-left: 3px solid @defaultcolor;
      background: rgba(245, 245, 245, 1);

      :first-child {
        margin: 0 7px 0 35px;
      }
    }

    // 树
    .ant-tree {
      li .ant-tree-node-content-wrapper .ant-tree-title:hover {
        color: @defaultcolor;
      }

      li.custom-tree-active {
        &.custom-tree-active-main {
          .ant-tree-node-content-wrapper:after {
            border-left: 3px solid @defaultcolor;
          }
        }

        > .ant-tree-node-content-wrapper > .ant-tree-iconEle {
          > .iconfont:not(.icon-file) {
            color: @defaultcolor;
          }
        }

        > .ant-tree-node-content-wrapper > .ant-tree-title .iconfont.icon-left {
          color: @defaultcolor;
        }

        > .ant-tree-node-content-wrapper > .ant-tree-title {
          color: @defaultcolor;
        }
      }
    }
  }

  :global {
    .rememberPassword::after,
    .rememberPassword:hover .ant-checkbox-inner,
    .rememberPassword:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-tree-checkbox-checked::after {
      border-color: @defaultcolor !important;
    }

    // 菜单锚点
    .custom-menu-anchor {
      .ant-anchor-ink-ball {
        background: @defaultcolor;
      }

      .ant-anchor-link-active > .ant-anchor-link-title {
        color: @defaultcolor !important;
      }

      .ant-anchor-link-title:hover {
        color: @defaultcolor !important;
      }
    }

    // 触发器
    .custom-triggerEvent {
      .ant-tabs-nav-wrap {
        .ant-tabs-tab {
          &:hover {
            color: @defaultcolor;
          }

          &.ant-tabs-tab-active {
            color: @defaultcolor !important;
          }
        }

        .ant-tabs-ink-bar {
          background-color: @defaultcolor;
        }
      }
    }

    // 二级菜单
    .ant-menu-submenu.ant-menu-submenu-popup .ant-menu li {
      &:hover,
      &.ant-menu-item-selected {
        background: @defaultcolor;
      }
    }

    // 按钮
    .ant-btn.ant-btn-primary {
      background: @defaultcolor;
      border-color: @defaultcolor;

      &:disabled {
        &:hover,
        &:focus {
          background-color: #f5f5f5;
          color: rgba(0, 0, 0, 0.25);
          border-color: #d9d9d9;
        }

        background-color: #f5f5f5;
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
      }

      &:hover,
      &:focus {
        background-color: @darkRed;
        border-color: @darkRed;
        color: #fff;
      }
    }

    //分页
    //.ant-pagination-item{
    //  background:@gray;
    //  border-radius:2px;
    //}
    //.ant-pagination-prev{
    //  background:@gray;
    //  border-radius:2px;
    //}
    .ant-pagination-item-active {
      width: auto;
      height: 30px;
      background: @defaultcolor;
      border-radius: 2px;
      border: none;

      a {
        font-size: 14px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: @white;
      }
    }

    .ant-pagination-item-active:focus a,
    .ant-pagination-item-active:hover a {
      font-size: 14px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: @white;
    }

    .custom-btn {
      .iconfont {
        color: @defaultcolor;
      }
    }

    .ant-checkbox-indeterminate .ant-checkbox-inner::after {
      background: @defaultcolor;
    }

    // 刷新按钮
    .refresh {
      display: flex;
      position: relative;
      cursor: pointer;

      span,
      span:after {
        transition: color 0.2s;
      }

      &:hover {
        span,
        span:after {
          color: @defaultcolor;
          transition: color 0.2s;
        }
      }

      // &:after {
      //   content: '';
      //   position: absolute;
      //   right: 0;
      //   top: 15px;
      //   display: inline-block;
      //   width: 1px;
      //   height: 14px;
      //   background-color: #EBEBEB;
      // }

      :global {
        .iconfont {
          font-size: 20px;
          margin-right: 6px;
          display: inline-block;
          color: #aaaaaa;
        }
      }
    }
  }

  // 登录页按钮
  :global {
    .loginBtn {
      //margin-top: 35px;
      margin-top: 8%;
      text-align: right;

      :global {
        .ant-btn {
          width: 130px;
          height: 45px;
          border: 1px solid @defaultcolor;
          color: @defaultcolor;
          font-size: 17px;
          border-radius: 37px;

          > span {
            font-size: 17px;
          }

          &:hover {
            border: 1px solid @defaultcolor;
            color: @defaultcolor;
          }

          &:active,
          &:focus {
            background: @defaultcolor;

            span {
              color: #fff;
            }
          }
        }
      }
    }
    .internetBtnDefault {
      background: @darkRed;
      :global {
        .ant-btn {
          width: 100%;
          height: 48px;
          background: @defaultcolor;
          border-radius: 6px;
          border: none;
          position: relative;
          z-index: 2;
          //transition: all .4s;
          // &:hover{
          //   background: #2C74E9;
          // }
          &:focus {
            background: fade(@defaultcolor, 80%);
          }
          span {
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
          }
          &:hover {
            background: transparent;
          }
        }
      }
      &:hover {
        &::after {
          transform: scale(1, 1);
          background: fade(@defaultcolor, 100%);
        }
      }
    }
  }

  // 短信发送按钮
  :global {
    .verificationBtn {
      //margin-top: 35px;
      text-align: right;

      :global {
        .ant-btn {
          width: 138px;
          height: 45px;
          border: 1px solid fade(@defaultcolor, 40%);
          color: @defaultcolor;
          background: fade(@defaultcolor, 10%);
          font-size: 14px;
          border-radius: 4px;

          > span {
            font-size: 14px;
          }
        }
      }
    }
  }

  // 完善信息按钮
  :global {
    .prefectPersonalBtn {
      //margin-top: 35px;
      text-align: center;

      :global {
        .ant-btn {
          width: 140px;
          height: 40px;
          background: @defaultcolor;
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          border-radius: 4px;

          > span {
            font-size: 16px;
          }
        }
      }
    }
  }

  :global {
    .dataConfig {
      &:hover {
        color: @defaultcolor;
      }
    }
  }

  :global {
    .videoCard {
      height: 100%;

      .ant-card-head {
        height: 42px;
        min-height: 42px !important;
        line-height: 42px;

        .ant-card-head-tabs {
          overflow: hidden;
        }

        .ant-tabs-ink-bar {
          display: block !important;
          height: 2px;
          background-color: @defaultcolor;
        }

        .ant-tabs .ant-tabs-large-bar .ant-tabs-nav-container {
          font-size: 14px;

          .ant-tabs-nav-wrap .ant-tabs-tab {
            padding: 0 16px;
            line-height: 42px;
          }

          .ant-tabs-nav .ant-tabs-tab:hover {
            color: @defaultcolor;
          }

          .ant-tabs-tab-active {
            color: @defaultcolor;
          }
        }
      }
    }
  }

  :global {
    // 图形导航
    .margInLeftClass {
      margin-left: 8px;
      height: 42px;
      display: inline-block;
      padding: 0 7px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      border: 1px solid rgba(235, 235, 235, 1);
      line-height: 42px;
    }

    .margInLeftClass:hover {
      color: @defaultcolor;
    }
  }

  :global {
    .center-menu-avatar {
      background: @defaultcolor;

      &.menuMinor {
        color: #fff !important;
      }
    }

    .darker-header-bg {
      .userHeaderInfo {
        background: @defaultcolor;
      }
    }

    .userHeaderInfo:hover {
      background: @darkRed;
    }

    .markedList li {
      &:after {
        content: '';
        width: 224px;
        height: 124px;
        position: absolute;
        top: -40px;
        left: -12px;
        background: @menuHoverColor;
        transform: scale(1, 0);
        transform-origin: 50% 50%;
        // opacity: 0;
        z-index: -1;
        // border-radius: 50%;
        animation-timing-function: ease-out;
      }

      &:hover {
        transition: all 0.4s;
        color: @defaultcolor;

        .normal-menu-color {
          color: @defaultcolor;
        }

        &:after {
          transition: all 0.6s;
          transform: scale(1, 1);
          opacity: 1;
        }
      }
    }

    .titBox {
      &:after {
        content: '';
        width: 234px;
        height: 114px;
        position: absolute;
        top: -40px;
        left: -12px;
        background: @menuHoverColor;
        transform: scale(0, 1);
        transform-origin: 0% 50%;
        z-index: -1;
        border-radius: 50%;
        animation-timing-function: ease-out;
      }

      &:hover {
        color: @defaultcolor;
        transition: all 0.4s;

        &:after {
          transition: all 0.4s;
          transform: scale(1, 1);
        }
      }
    }

    .currentAnchorLink {
      background: @menuHoverColor;
    }

    .ant-anchor-link {
      // position: relative;
      // overflow: hidden;
      // &:after{
      //   content: '';
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   top: 0%;
      //   left: 0%;
      //   background: @menuHoverColor;
      //   transform: scale(1,0);
      //   transform-origin: center center;
      //   z-index: -1;
      //   animation-timing-function: ease-out;
      // }
      &:hover {
        color: @defaultcolor;
        transition: all 0.4s;
        // &:after{
        //   transition: all .4s;
        //   transform: scale(1,1);
        // }
        .ant-anchor-link-title {
          color: @defaultcolor;
        }
      }
    }

    .chartFilter:hover {
      color: @defaultcolor;
      border-color: @defaultcolor;
    }

    .importTemplate_import {
      background: @defaultcolor !important;
    }
  }
}

// 弹出框中的按钮样式
:global {
  .customConfirmColor {
    .ant-modal-confirm-btns {
      .ant-btn.ant-btn-primary {
        background: @defaultcolor;
        border-color: @defaultcolor;

        &:disabled {
          &:hover,
          &:focus {
            background-color: #f5f5f5;
            color: rgba(0, 0, 0, 0.25);
            border-color: #d9d9d9;
          }

          background-color: #f5f5f5;
          color: rgba(0, 0, 0, 0.25);
          border-color: #d9d9d9;
        }

        &:hover,
        &:focus {
          background-color: @darkRed;
          border-color: @darkRed;
          color: #fff;
        }
      }
    }
  }
}

:global {
  // 图形导航
  .darker-header-bg {
    background: #1f293d !important;
  }
  .technology-header-bg {
    background: #092454 !important;
  }
}
