@defaultHeight: 23px;
.tableHeight {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 53px);
  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 37px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight02 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 53px - 38px);
  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 37px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.contentTitle {
  float: left;
  height: 100%;
  //width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px;
  line-height: 24px;
}

.columsSpan {
  margin-right: 15px;
  cursor: pointer;
}

.cellHeight {
  min-height: 16px;
  padding-right: 24px;
}

.cellSelect,
.cellInput,
.cellNormalSelect {
  width: 90% !important;
}

.contentClass {
  height: 24px;
  display: flex;
  align-items: center;
  padding-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.stateClass {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
  margin-right: 5px;
}

.tableHeight2 {
  //height: calc(100% - 40px - 53px);
  height: calc(100%);
  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 37px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight22 {
  //height: calc(100% - 40px - 53px);
  height: calc(100% - 38px);
  //height: 100%;
  :global {
    .ant-table-body {
      height: calc(100% - 38px - 37px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.tableHeight42 {
  height: calc(100% - 38px);
  :global {
    .ant-table-body {
      height: calc(100% - 42px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //
      padding: 0;
    }
  }
}
.tableHeight4 {
  :global {
    .ant-table-body {
      height: calc(100% - 42px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //
      padding: 0;
    }
  }
}


.tableHeight12 {
  height: calc(100% - 53px - 38px);

  :global {
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight1 {
  height: calc(100% - 53px);

  :global {
    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      padding: 2px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.tableHeight32 {
  height: calc(100% - 42px - 38px);

  :global {

    .ant-table-body {
      height: calc(100% - 39px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}
.tableHeight3 {
  height: calc(100% - 42px);

  :global {

    .ant-table-body {
      height: calc(100% - 39px);
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td {
      padding: 6px 0;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr {
      height: 37px;
    }

    .ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      //padding: 7px 8px;
      padding: 0;
    }

    .ant-form-item-control,
    .ant-select-selection__rendered {
      line-height: @defaultHeight;
    }

    .ant-input-number {
      height: @defaultHeight;
      line-height: @defaultHeight;
    }

    .ant-input-number-input,
    .ant-select-selection--single,
    .ant-input {
      height: @defaultHeight;
    }
  }
}

.tableHeight52 {
  height: calc(100% - 53px - 38px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }
  }
}
.tableHeight5 {
  height: calc(100% - 53px);

  :global {
    .ant-table-body {
      height: calc(100% - 38px - 40px);
    }
  }
}

.tableNoSelectCls {
  .contentClass{
    padding: 0 0 0 6px;
  }
  :global {
    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
      height: 36px;
      padding: 0 0 0 6px;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
      height: 36px;
    }
  }
}

.pageStyle {
  text-align: center;
}

.addNewBtn {
  //width: 85px;
  height: 32px;
  padding: 0 8px;
  margin: 7px 0 0 0px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 32px;
  background: #fff;
  color: #111111;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  .addnewBtnIco {
    margin-right: 5px;
    color: #c62127;
  }
}

.addNewBtn1 {
  //width: 85px;
  height: 32px;
  padding: 0 8px;
  margin: 5px 0 0 0px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 32px;
  background: #fff;
  color: #111111;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  .addnewBtnIco {
    margin-right: 5px;
    color: #c62127;
  }
}

.filterBox {
  min-width: 110px;
  float: right;
  margin: 5px 0;
}

.commonIconStyle {
  margin-right: 5px;
  font-size: 14px;
  color: #c62127;
}

.divFlex {
  float: left;
  margin-bottom: 9px;
  margin-right: 9px;
}

.divFlex1 {
  float: left;
  height: 42px;
  margin-right: 9px;
}

.modalDetial {
  padding-top: 20px;
}

.searchBox {
  width: 280px;
  margin: 5px 5px 5px 0;
  float: right;
  text-align: right;
}

.searchBox1 {
  width: 280px;
  margin: 5px;
  float: right;
  text-align: right;
}

.tableFooterWrap {
  height: 100%;
  width: 100%;
  padding: 0 0 0 60px;
  overflow-y: hidden;
  overflow: hidden;
  box-sizing: border-box;
}

.tableFooter {
  height: 100%;
  display: flex;
  //align-items: center;
  overflow-y: hidden;

  div {
    //padding: 0 8px;
    font-size: 12px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
  }
}

:global {
  .ant-table-footer {
    height: 35px;
    padding: 0;
  }
}

.countItem {
  cursor: pointer;
  height: 36px;
  padding: 5px 10px;
  line-height: 26px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: #e9e9e9;
  }
}

.countSelectWrap {
  padding: 5px 10px;

  :global {
    .ant-radio-wrapper {
      line-height: 2;
    }
  }
}
