.searchWrap {
  .searchBtnWrap {
    //display: flex;
    //align-items: flex-start;
    text-align: right;

    & > button {
      margin: 0 2%;
    }

    .export {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  :global {
    .ant-card-body {
      padding: 10px 3px 1px 10px;
      box-shadow: 0 0 3px 1px #e2dddd;
    }
  }
}
