.verifyWay {
  text-align: center;
  &__info {
    font-size: 16px;
    color: #333333;
  }
  &__dec {
    margin-top: 8px;
    font-size: 12px;
    color: #808080;
  }
  &__tips {
    margin-top: 36px;
    height: 40px;
    background: #ffeaeb;
    border-radius: 4px;
    border: 1px solid rgba(255, 77, 79, 0.5);
    font-size: 13px;
    color: #ff4d4f;
    line-height: 40px;
    text-align: left;
    padding-left: 16px;
  }
  &__empty {
    margin-top: 36px;
  }
  &__input {
    margin-top: 20px;
  }
  &__btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &--prev,
    &--next {
      width: 140px;
      height: $--button-height;
    }
    &--next {
      margin-left: 10px;
    }
  }
}