
// 触发器弹框
.triggerEventModal {
  :global {
    .ant-modal-content .ant-modal-body {
      height: calc(100% - 100px);
    }
    .ant-modal-footer {
      padding: 10px 0;
    }
    .ant-modal-content {
      padding: 0 14px;
      .ant-modal-header {
        background: #fff;
        border-bottom: none;
      }
      .ant-modal-title {
        padding: 0;
      }
    }
    .ant-card-head {
      line-height: 42px;
      font-size: 14px;
      color: #111;
      font-weight: 500;
      background: #FAFAFA;
    }
    .ant-card .ant-card-head-wrapper .ant-card-head-title {
      padding: 0!important;
    }
    .ant-card-body {
      padding: 10px;
    }
  }
}