.messageItem {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30rpx;
  box-sizing: border-box;
  position: relative;
  &__right{
    flex: 1;
    padding-bottom: 10rpx;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
    padding: 0 30rpx;
    .message-top{
      display: flex;
      align-items: center;
      // box-shadow: inset 0px -1rpx 0px 0px #E0E0E0;
      line-height: 88rpx;
      justify-content: space-between;
      border-bottom: 1rpx solid rgba($color: #e0e0e0, $alpha: .5);
      .title{
        display: flex;
        align-items: center;
      }
      .appIcon{
        font-size: 58rpx;
        margin-right: 10rpx;
        color: #BBC3CD;
      }
      // .appIcon-gongzuoliucheng{
      //   color: #5A80ED;
      // }
      // .appIcon-xitongxiaoxi{
      //   color: #34C7BE;
      // }
      .flow{
        width: 58rpx;
        height: 58rpx;
        margin-right: 8rpx;
      }
      .spot{
        display: inline-block;
        width: 10rpx;
        height: 10rpx;
        background: #F6483E;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        vertical-align: middle;
        margin-left: 10rpx;
      }
      .isRead{
        color: #BBC3CD;
      }
    }
    .message-content{
      font-size: 24rpx;
      color: #808080;
      line-height: 34rpx;
    }
    .message-header{
      padding: 10rpx 0;
      padding-top: 30rpx;
      line-height: 54rpx;
      color: #333333;
      font-size: 32rpx;
      .sponsor{
        display: inline-block;
        background: #f1f3f6;
        border-radius: 34rpx;
        padding-right: 6rpx;
        height: 50rpx;
        -webkit-border-radius: 34rpx;
        -moz-border-radius: 34rpx;
        -ms-border-radius: 34rpx;
        -o-border-radius: 34rpx;
        display: inline-flex;
        align-items: center;
        float: left;
        &__name{
          padding: 0 12rpx;
        }
      }
    }
    .sendtime{
      color: #808080;
      height: 82rpx;
      line-height: 82rpx;
      color: #808080;
      font-size: 26rpx;
      position: absolute;
      text-align: center;
      top: -82rpx;
      left: 0;
      right: 0;
    }
    .messageLink{
      color: #4689f5;
      margin-left: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover{
        text-decoration: underline;
      }
      .arrow{
        display: inline-block;
        width: 10rpx;
        height: 10rpx;
        border-right: 1rpx solid #4689f5;
        border-top: 1rpx solid #4689f5;
        border-bottom: transparent;
        border-left: transparent;
        transform: rotate(45deg);
        margin-left: 4rpx;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }
  }
  .markRead{
    width: 70px;
    position: absolute;
    top: 12px;
    right: 0;
    color: #4689F5;
    line-height: 20px;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: top;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    opacity: 0;
}
  &:hover{
    .markRead{
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      opacity: 1;
    }
  }
}

.isRead{
  color: #666666;
  .messageItem__right{
    color: #666666;
    .message-header{
      color: #666666;
    }
    .sponsor{
      opacity: .5;
    }
  }
  .messageItem__left{
    .appIcon{
      color: #BBC3CD;
    }
  }
  .messageLink{
    color: #AAAAAA;
    .arrow{
      border-right: 1rpx solid #AAAAAA;
      border-top: 1rpx solid #AAAAAA;
    }
  }
}