@mixin setMenuStyle(
  $--name,
  $--gridColumns,
  $--gridSize,
  $--gridRowGap,
  $--gridColumnGap
) {
  .#{$--name} {
    background: #ffffff;
    padding-bottom: 20rpx;
    &--image {
      width: 100%;
    }
    &--title {
      height: 88rpx;
      line-height: 88rpx;
      font-size: 36rpx;
      @include fontBlob(500);
      color: #333333;
    }
    &--more {
      font-size: 26rpx;
      color: #AAAAAA;
    }
    &--content {
      padding-top: 20rpx;
      display: grid;
      grid-template-columns: repeat($--gridColumns, $--gridSize);
      grid-gap: $--gridRowGap $--gridColumnGap;
    }
    &--item {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;
      overflow: hidden;
      &.showImg {
        ::v-deep {
          .u-image,
          .u-image__image {
            width: 100% !important;
          }
          image {
            width: 100% !important;
          }
        }
      }
      &.showIcon {
        box-sizing: border-box;
        border-radius: 8rpx;
      }
    }
    &--text {
      font-size: 24rpx;
      font-family: $--font-family;
      color: #333333;
    }
  }
}
