@font-face {
  font-family: 'iconfont'; /* Project id 2516478 */
  src: url('//at.alicdn.com/t/font_2516478_vw78gt5teg.woff2?t=1649331823594') format('woff2'),
       url('//at.alicdn.com/t/font_2516478_vw78gt5teg.woff?t=1649331823594') format('woff'),
       url('//at.alicdn.com/t/font_2516478_vw78gt5teg.ttf?t=1649331823594') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-bianji:before {
  content: "\ebdd";
}

.iconfont-fangda:before {
  content: "\ebde";
}

.iconfont-lishi:before {
  content: "\ebdf";
}

.iconfont-piliangcaozuo:before {
  content: "\ebe0";
}

.iconfont-daochu:before {
  content: "\ebe1";
}

.iconfont-daoru:before {
  content: "\ebe2";
}

.iconfont-qiehuan:before {
  content: "\ebe3";
}

.iconfont-dayin:before {
  content: "\ebe4";
}

.iconfont-shanchu:before {
  content: "\ebe5";
}

.iconfont-qianyi:before {
  content: "\ebe6";
}

.iconfont-xiazai:before {
  content: "\ebe7";
}

.iconfont-shangchuan:before {
  content: "\ebe8";
}

.iconfont-guanxiguanlian:before {
  content: "\ebe9";
}

.iconfont-fuzhi:before {
  content: "\ebea";
}

.iconfont-zhengquequeding:before {
  content: "\ebeb";
}

.iconfont-xinzeng:before {
  content: "\ebec";
}

.iconfont-suoxiao:before {
  content: "\ebed";
}

.iconfont-quxiaocuowu:before {
  content: "\ebee";
}

.iconfont-gengxin:before {
  content: "\ebef";
}

.iconfont-jibenxinxi:before {
  content: "\ebf0";
}

.iconfont-danju:before {
  content: "\aea29";
}

.iconfont-gongdan:before {
  content: "\aea30";
}

.iconfont-guzhang:before {
  content: "\aea31";
}

.iconfont-tongji:before {
  content: "\aea32";
}

.iconfont-shuju:before {
  content: "\aea33";
}

