// class 变量名

@mixin setSearch($--name) {
  .#{$--name} {
    &__sticky {
      background: #fff;
      position: relative;
    }
    &__nav {
      border-top: 1px solid #e9e9e9;
      padding: 26rpx 30rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 36rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      i {
        font-size: 38rpx;
        color: #bbc3cd;
      }
      &--left {
        display: flex;
        align-items: end;
        position: relative;
      }
      &--title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36rpx;
        font-weight: 500;
        color: #333333;
      }
      &--noClickTitle {
        font-size: 28rpx;
        color: #808080;
      }
      &--marginLeft:not(:nth-child(1)) {
        margin-left: 40rpx;
      }
      &--selected {
        position: absolute;
        width: 60rpx;
        height: 5rpx;
        background: linear-gradient(270deg, rgba(70, 137, 245, 0) 0%, #4689F5 100%);
        border-radius: 1px;
        bottom: -18rpx;
        transition: all 100ms linear 0s !important;
      }
    }
    &__select {
      font-size: 28rpx;
      color: #808080;
      line-height: 36rpx;
      padding: 20rpx 30rpx;
    }
    &__popup {
      margin: 0 30rpx;
      .margTop {
        margin-top: 30rpx;
        font-size: 32rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
      }
      &--title {
        height: 80rpx;
        line-height: 80rpx;
      }
      footer {
        display: flex;
        margin: 79rpx 0 19rpx;
      }
      &--reset {
        margin-right: 24rpx;
        color: #333333;
        font-size: 30rpx;
        background: #f1f3f6;
      }
      &--ok {
        font-size: 30px;
        color: #ffffff;
      }
    }
    ::v-deep {
      .u-input__icon--prefix {
        padding: 0 21rpx 0 34rpx;
      }
    }
  }
}
