@import '../../../../../../../styles/base.less';
.wrap {
  height: 40px;
  line-height: 40px;
  padding-left: 26px;
  display: flex;
  border-bottom: @borderStyle;
  .switchIcon {
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
    color: #D9D9D9;
  }
  .switchFormat {
    margin-left: auto;
    display: flex;
    align-items: center;
    .select {
      width: 130px;
      margin: 0 26px 0 8px;
    }
  }
}