$bg-color: #f5f5f7;
$line-color: #BBC3CD;
$base-size: 12px;

@mixin flex-center() {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  @if $n > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}

@mixin btn-bigger() {
  transform: scale(1.2);
  background: #4689f5;
  //box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  border: none;
  .icon-jiahao {
    color: white;
  }
}

.node-wrap-box {
  position: relative;
  @include flex-center();
  flex-direction: column;

  &.condition {
    padding: 30px 50px 0;
  }

  &.empty {
    overflow: hidden;
  }

  //&.condition_group_end {
  //  display: none;
  //}

  &.approver::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    border-style: solid;
    border-width: 8px 6px 4px;
    border-color: $line-color transparent transparent;
    background: $bg-color;
  }

  &.error {
    &.condition .error-tip {
      right: 0;
    }

    .error-tip {
      right: -40px;
    }

    .flow-path-card {
      border: 1px solid #f00;

      &:hover {
        border-width: 0;
      }
    }
  }

  .error-tip {
    position: absolute;
    right: 0;
    top: 15%;
    width: 30px;
    height: 30px;
    color: #f00;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    line-height: 30px;
    transition: right 0.5s;
  }

  &.condition .error-tip {
    right: 60px;
  }
}

.end-node {
  font-size: $base-size;
  text-align: center;
  @include flex-center();
  flex-direction: column;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    margin: auto;
    border: none;
    margin-bottom: 12px;
    border-radius: 50%;
    background: $line-color;
  }
}

.flow-path-card {
  width: 320px;
  min-height: 110px;
  font-size: $base-size;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  background: #fff;

  &:hover {
    box-shadow: 0 0 0 2px #3296fa, 0 0 5px 4px rgba(0, 0, 0, 0.2);
  }

  &.copy {
    .header {
      background-color: #3296fa;
    }
  }

  &.approver {
    &:hover {
      box-shadow: 0 0 0 2px #ee5e5e, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #ee5e5e;
    }
  }

  &.start-node {
    &:hover {
      box-shadow: 0 0 0 2px #34c7be, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #34c7be;
    }
  }

  &.fill {
    &:hover {
      box-shadow: 0 0 0 2px #34c7be, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #34c7be;
    }

    .body {
      .text {
        margin: 0;
        display: block;
      }
    }
  }
  &.notice {
    &:hover {
      box-shadow: 0 0 0 2px #fc8256, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #fc8256;
    }

    .body {
      .text {
        margin: 0;
        display: block;
      }
    }
  }

  &.backend_data {
    &:hover {
      box-shadow: 0 0 0 2px #fab71c, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #fab71c;
    }

    .body {
      .text {
        margin: 0;
        display: block;
      }
    }
  }

  &.webhook {
    &:hover {
      box-shadow: 0 0 0 2px rgb(250, 183, 28), 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: rgb(250, 183, 28);
    }

    .body {
      .text {
        margin: 0;
        display: block;
      }
    }
  }

  &.procedure {
    &:hover {
      box-shadow: 0 0 0 2px #fab71c, 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .header {
      background-color: #fab71c;
    }

    .body {
      .text {
        margin: 0;
        display: block;
      }
    }
  }

  .header {
    padding-left: 15px;
    padding-right: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    position: relative;
    box-sizing: border-box;

    .title-box {
      position: relative;
      display: inline-block;
      @include ellipsis(1);
      line-height: 30px;
    }

    .title-input {
      position: absolute;
      left: 0;
      border: none;
      background: inherit;
      color: inherit;
      opacity: 0;

      &:focus {
        border-radius: 6px;
        font-size: $base-size;
        padding: 2px 4px 2px 2px;
        width: 95%;
        //margin-left: 1px;
        height: 22px;
        box-sizing: border-box;
        //box-shadow: 0 0 2px 2px #7ec3e1;
        background-color: $bg-color;
        border-radius: unset;
        color: black;
        opacity: 1;
        outline: none;
        border: none;
      }
    }

    .title-text {
      vertical-align: super;
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
    }

    > .actions {
      position: absolute;
      right: 10px;
      top: 0;
      //visibility: hidden;
      visibility: visible;
    }

    > .actionsTips {
      position: absolute;
      right: 30px;
      top: 0;
    }
  }

  .approver .header .title-input {
    &:focus {
      width: 80%;
    }
  }

  &:not(.start-node):hover {
    .actions {
      visibility: visible;
    }

    .title-text {
      //border-bottom: 1px dashed currentColor;
    }
  }

  .body {
    position: relative;
    padding: 10px 14px 10px 16px;
    line-height: 22px;
    box-sizing: border-box;

    .text {
      margin: 0;
      @include ellipsis(4);
    }

    .setFilterData {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4689f5;
      line-height: 17px;
    }
  }

  .icon-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 14px;
    box-sizing: border-box;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    > {
      .right-arrow,
      .left-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.flow-path-card.condition {
  //padding: 8px 14px;

  .header {
    padding-left: 16px;
    padding-right: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    position: relative;
    background: #bbc3cd;
    box-sizing: border-box;
    //height: 18px;
    //height: 30px;
    //line-height: 30px;
    //color: inherit;
    //padding: 0;

    .title-text {
      color: #ffffff;
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      //color: #15bc83;
    }

    .icon {
      margin-right: 4px;
    }
  }

  .body {
    padding: 10px 14px 10px 16px;

    .text {
      display: block;
    }
  }

  .icon-wrapper {
    &:hover {
      background-color: #f1f1f1;
    }
  }

  .right-arrow,
  .left-arrow {
    visibility: hidden;
  }

  &:hover {
    .right-arrow,
    .left-arrow {
      visibility: visible;
    }

    .priority {
      display: none;
    }

    box-shadow: 0 0 0 2px #bbc3cd, 0 0 10px 4px rgb(0 0 0 / 20%);
  }
}

.col-box:first-of-type .condition .left {
  display: none;
}

.col-box:last-of-type .condition .right {
  display: none;
}

.add-node-btn-box {
  width: 220px;
  height: 55px;
  position: relative;
  padding-top: 30px;
  margin: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    width: 1px;
    height: 100%;
    background-color: $line-color;
  }

  .add-node-btn {
    display: flex;
    justify-content: center;

    .btn {
      width: 24px;
      height: 24px;
      display: block;
      padding: 0;
      //align-items: center;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      background: #FFFFFF;
      border: 1px solid $line-color;
      transition: transform 0.5s;

      &:hover {
        @include btn-bigger();
      }

      .icon-jiahao {
        color: $line-color;
      }
    }
  }
}

.branch-wrap {
  .branch-box-wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .branch-box {
    align-items: stretch;
    border-bottom: 1px solid $line-color;
    border-top: 1px solid $line-color;
    box-sizing: border-box;
    background: $bg-color;

    > .col-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:first-of-type {
        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          height: 3px;
          width: calc(50% - 1px);
          background: $bg-color;
        }

        &::before {
          top: -2px;
        }

        &::after {
          bottom: -2px;
        }
      }

      &:last-of-type {
        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 0;
          height: 3px;
          width: calc(50% - 1px);
          background: $bg-color;
        }

        &::before {
          top: -2px;
        }

        &::after {
          bottom: -2px;
        }
      }

      .center-line {
        height: 100%;
        width: 1px;
        background: $line-color;
        position: absolute;
      }
    }

    > .btn {
      z-index: 99;
      cursor: pointer;
      position: absolute;
      top: 0;
      outline: none;
      transform: translateY(-50%);
      padding: 6px 10px;
      border: none;
      font-size: 13px;
      color: #666666;
      border-radius: 15px;
      background: white;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1) translateY(-50%);
        color: #4689F5;
      }
    }
  }
}

.node-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .node-title {
    height: 46px;
    padding-left: 8px;
    line-height: 46px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
  }

  .box {
    height: 110px;

    .box-item {
      height: 100px;
      margin-bottom: 10px;
      background: #ffffff;
      border: 1px solid #e9e9e9;
      cursor: pointer;
      box-sizing: border-box;
      &:hover{
        background: #fafafa;
      }

      .condition-icon {
        margin-top: 12px;
        text-align: center;
      }

      .node-name {
        text-align: center;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #444444;
      }

      .iconfont {
        font-size: 38px;
      }
    }
  }
}

.condition-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px 20px;

  > div:nth-child(1) .iconfont {
    color: #ff943e;
  }

  > div:nth-child(2) .iconfont {
    color: #3296fa;
  }

  .condition-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 4px;

    .iconfont {
      font-size: 32px;
    }

    &:hover {
      background: #3296fa;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);

      > .iconfont {
        color: white;
      }
    }
  }
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.icon {
  //vertical-align: middle;
  width: 14px;
  height: 14px;
  font-size: 13px;
}

.priority {
  position: absolute;
  right: 0;
  font-size: 12px;
}

.start-node .header > .actionsTips,
.approver .header > .actionsTips,
.fill .header > .actionsTips,
.backend_data .header > .actionsTips,
.webhook .header > .actionsTips,
.notice .header > .actionsTips {
  right: 35px;
}
