.SCheckbox{
  :global{
    .ant-checkbox-inner{border-radius: 50%;}
    .ant-checkbox-wrapper{
      margin-bottom: 8px;
      padding: 0 10px;
      border-radius: 34px;
      border: 1px solid #E0E0E0;
      color: #333333;
      &::after{border: none;}
    }
    .ant-checkbox-wrapper-checked{background: #F8FAFC;}
    .ant-checkbox-checked::after{border-radius: 50%;}
    
  }
}

