.AutoCompleteWrap{
  width: 100%;
  .btnDefault{
    width: 35px;
    min-width: inherit;
    border: none;
    color: rgba(0,0,0,.45);
  }
  :global{
    .ant-input-suffix{
      width: 36px;
      right: 0;
    }
    .anticon-search{
      font-size: 12px;
    }
  }
}

