@import '../../../../styles/base.less';

@treeNodeMargin: 24px;
@treeNodeHeight: 32px;

// 根据层级结构递增margin
.level-loop(@n, @i:1) when (@i <= @n) {
  .level-@{i} {
    :global {
      .ant-tree-switcher {
        margin-left: @treeNodeMargin + @treeNodeMargin * @i / 2;
      }
      .ant-tree-node-content-wrapper {
        width: calc(100% - @iconfontSize - (@treeNodeMargin + @treeNodeMargin * @i / 2))!important;
      }
    }
  }
  .level-loop(@n, (@i + 1));
}

.wrap {
  height: 100%;
  :global {
    .ant-spin-nested-loading {
      height: 100%;
    }
  }
}
.searchWrap {
  padding: @cubeMargin;
}
.treeWrap {
  height: calc(100% - @treeSearchHeight - @footerHeight);
  overflow: auto;
  font-size: @treeNodeFontSize;
  width: 100%;
  min-width: 100%;
  .level-loop(20);
  :global {
    .ant-spin-nested-loading,
    .ant-tree {
      width: max-content;
      min-width: 100%;
    }
  }
  li {
    position: relative;
    padding: 0;
    line-height: @treeNodeHeight;
  }
  .elementIcon {
    // color: #d9d9d9;
    // transform: scale(0.7);
    display: inline-block;
  }
  :global {
    .icon-line-tree {
      color: #d9d9d9;
      transform: scale(0.7);
    }
    li ul {
      padding-left: 0;
    }
    .ant-tree-child-tree > li:first-child {
      padding: 0;
    }
    .ant-tree-switcher,
    .ant-tree-iconEle,
    .ant-tree-title {
      position: relative;
      z-index: 1;
    }
    .ant-tree-title {
      display: inline-block;
      position: relative;
      width: calc(100% - @iconfontSize);
      .icon-more {
        // display: none;
        position: absolute;
        right: 0;
        top: 0
      }
    }
    li span.ant-tree-iconEle {
      width: @iconfontSize;
      margin-right: @cubeMargin;
      height: @treeNodeHeight;
      line-height: @treeNodeHeight;
      .iconfont{
        font-size: 20px;
      }
    }
    li span.ant-tree-switcher {
      width: @iconfontSize;
      margin-left: 24px;
      .anticon.anticon-loading {
        top: 5px;
        left: -3px!important;
      }
    }
    li.custom-tree-active > .ant-tree-node-content-wrapper {
      &:after {
        content: '';
        position: absolute;
        z-index: 0;
        background: @treeNodeSelectedBg;
        height: @treeNodeHeight;
        left: 0;
        right: 0;
        border: none;
        // border-left: 3px solid ;
        transition: all .2s;
      }
      .iconfont.icon-left {
        transform: rotate(180deg) scale(0.8);
        transition: transform .2s;
      }
    }
    // li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    //   background-color: unset;
    // }
    li .ant-tree-node-content-wrapper {
      padding-left: 0;
      transition: all .2s;
      background-color: unset;
      .ant-tree-title .icon-more {
        display: none;
      }
      &:hover {
        background: unset;
      //   .ant-tree-title .icon-more {
      //     // display: none;
      //   }
      //   &:after {
      //     content: '';
      //     position: absolute;
      //     z-index: 0;
      //     background: @treeNodeSelectedBg;
      //     height: @treeNodeHeight;
      //     left: 0;
      //     right: 0;
      //   }
      }
      &.ant-tree-node-selected {
        background: none;
        // .ant-tree-title .icon-more {
        //   display: block;
        // }
        // &:after {
        //   content: '';
        //   position: absolute;
        //   z-index: 0;
        //   background: @treeNodeSelectedBg;
        //   height: @treeNodeHeight;
        //   left: 0;
        //   right: 0;
        //   border-left: 3px solid;
        //   transition: all .2s;
        // }
      }
    }
    li span.ant-tree-switcher,
    li span.ant-tree-node-content-wrapper,
    li span.ant-tree-iconEle,
    .ant-tree-title {
      line-height: @treeNodeHeight;
      height: @treeNodeHeight;
    }
    li.custom-tree-active>.ant-tree-node-content-wrapper .ant-tree-title{
      //color: @defaultcolor;
    }
  }
}

// 右键
.rightMenu {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1;
  :global {
    .ant-menu .ant-menu-item {
      line-height: 32px;
      height: 32px;
      margin: 0;
      padding: 0;
      &:hover,
      &.ant-menu-item-selected {
        background: #EBEBEB;
        color: inherit;
      }
      > span {
        display: block;
        padding: 0 16px;
      }
    }
  }
}
