.is-error {
  .error__tip {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 100;
  }
  ::v-deep {
    .el-input__inner {
      border-color: #f56c6c;
    }
  }
}
.is-require::after {
  content: '*';
  color: #f56c6c;
  margin-left: 4px;
}
