@mixin setVerife($--name, $--formName) {
  .#{$--name} {
    padding: 140rpx 90rpx 0 90rpx;
    &__title {
      display: block;
      font-size: 48rpx;
      @include fontBlob(500);
      color: #333333;
      line-height: 67rpx;
    }
    &__subtitle {
      display: block;
      font-size: 28rpx;
      color: #808080;
      line-height: 45rpx;
      letter-spacing: 1px;
    }
    .#{$--formName} {
      margin-top: 90rpx;
    }
    .btn {
      margin: 60rpx 0 30rpx 0;
    }
    ::v-deep {
      .btn {
        margin: 60rpx 0 30rpx 0;
      }
    }
  }
}
