@mixin setBtnStyle($--name) {
  .#{$--name} {
    &__row {
      background-color: #fff;
    }
    &.row {
      padding: 20rpx;
      height: $form-row-btns-height;
      &.left {
        padding: 20rpx 0;
      }
    }
    .btn_bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 30rpx;
      z-index: 10;
    }
    .batchSure {
      display: flex;
      align-items: center;
      width: 100%;
      height: $form-row-btns-height;
      padding: 12rpx 0;
      box-sizing: border-box;
      background: #fff;
      border-radius: 100px;
      box-shadow: 0 0 20rpx 0 rgba(0, 0, 0, 0.1);
      &__item {
        height: 100%;
        flex: 1;
      }
      &__btn {
        margin-right: 13rpx;
      }
    }
  }
}
