@import '../../../../../styles/base.less';

.operator {
  span {
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
  }
}

.wrap {
  height: 100%;

  .addBtn {
    margin: 9px;
  }
}

.tableWrap {
  height: calc(100% - 50px);
}

.copyEntry {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: @defaultcolor;
  }
}

.tip {
  margin-left: 5px;
  cursor: pointer;
}
.cselect{
  width: 100%;
}
