@import '../../../styles/base.less';

.wrap {
  height: 100%;
  .delIcon {
    cursor: pointer;
  }
  :global {
    .ant-table-wrapper,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table,
    .ant-table-content,
    .ant-table-scroll,
    .ant-table-body {
      height: 100%;
    }
    .ant-table-body {
      max-height: inherit!important;
      height: calc(100% - 38px);
    }
    tr.drop-over-downward td {
      border-bottom: 2px dashed #1890ff;
    }
    
    tr.drop-over-upward td {
      border-top: 2px dashed #1890ff;
    }
    .ant-table-expanded-row {
      background: #F9FCFF;
      > td {
        padding-bottom: 0!important;
      }
    }
    .ant-table-row td,
    .ant-table-header .ant-table-fixed .ant-table-thead th {
      // word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ant-table-small {
      border: none;
    }
    .ant-table-body .ant-table-tbody tr:last-child {
      border-bottom: @borderStyle;
    }
    .ant-table table,
    .ant-table-header .ant-table-fixed table {
      table-layout: fixed;
    }
    .ant-table-thead .ant-table-expand-icon-th,
    .ant-table-tbody .ant-table-row-expand-icon-cell {
      // display: none;
      width: 1px;
    }
    .ant-table-row {
      &:hover {
        cursor: initial!important;
        .custom-drag-td {
          cursor: move;
        }
      }
    }
    .ant-table > .ant-table-content .ant-table-header {
      background: #FAFAFA;
    }
    .ant-table-content .ant-table-scroll .ant-table-placeholder {
      position: absolute;
      top: calc(50% - 80px);
      left: calc(50% - 50px);
      border: none;
    }
  }
}