.tableWrap {
  height: calc(100% - 60px);

  :global {
    .ant-table-pagination.ant-pagination {
      margin: 11px 0;
    }

    //.ant-table-fixed-right {
    //  height: 100%;
    //
    //  .ant-table-body-outer {
    //    height: 100%;
    //
    //    .ant-table-body-inner {
    //      height: calc(100% - 35px);
    //      max-height: inherit !important;
    //    }
    //  }
    //
    //  //&.ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    //  //  padding: 6px 8px;
    //  //}
    //}
  }
}
.tableWrap1 {
  height: calc(100% - 85px);

  :global {
    .ant-table-pagination.ant-pagination {
      margin: 11px;
      position: unset;
    }

    //.ant-table-fixed-right {
    //  height: 100%;
    //
    //  .ant-table-body-outer {
    //    height: 100%;
    //
    //    .ant-table-body-inner {
    //      height: calc(100% - 35px);
    //      max-height: inherit !important;
    //    }
    //  }
    //
    //  //&.ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    //  //  padding: 6px 8px;
    //  //}
    //}
  }
}

